{% extends 'base.html.twig' %}

{% block title %}Projet{% endblock %}

{% block body %}
    {{  dump() }}
    <div id="rocket">
        <h1 class="d-flex justify-content-center mt-5 ">PAGE PROJET</h1>
        <div class="projet-title"> {{ projet.name }}</div>
        <div>
            <div>{{ projet.pitch }}</div>
            <div>{{ projet.description1 }}</div>
            <div>{{ projet.description2 }}</div>
        </div>
        <div>

        </div>




        <a class="btn btn-info" href="{{ path('projet_index') }}"><i class="fas fa-backward"></i> Retour à la liste</a>

    </div>

    {% if is_granted('ROLE_ADMIN') %}
    <a class="btn btn-primary" href="{{ path('projet_edit', {'slug': projet.slug}) }}"><i class="fas fa-edit"></i> Modifier ce projet</a>

    {{ include('projet/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
