{% extends 'base.html.twig' %}

{% block title %}Projet{% endblock %}

{% block body %}

    <div id="project-page">
        <h1 class="d-flex justify-content-center mt-5 display-4 ">{{ projet.name }}</h1>
        <div class="projet-title"> </div>
        <div class="p-5">
            <div>{{ projet.pitch }}</div>
            <div>{{ projet.description1 }}</div>
            <div>{{ projet.description2 }}</div>
        </div>
        <div class="jumbotron">
                {% for screenShot in projet.screenShots %}
                    <div class="screenshot">
                        <img src="/images/screenShot/{{ screenShot.name }}" alt="photo de {{ screenShot.name }}"
                             style="width: 400px; height: 400px">
                        <div class="" style="width: 400px">
                            {{ screenShot.comment }}
                        </div>

                    </div>
                {% endfor %}
        </div>
        <a class="btn btn-info" href="{{ path('projet_index') }}"><i class="fas fa-backward"></i> Retour à la liste des projets</a>



    {% if is_granted('ROLE_ADMIN') %}
    <a class="btn btn-primary" href="{{ path('projet_edit', {'slug': projet.slug}) }}"><i class="fas fa-edit"></i> Modifier ce projet</a>

    {{ include('projet/_delete_form.html.twig') }}
    {% endif %}
    </div>
{% endblock %}
