{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <div id="admin">
        <div class="page-title d-flex justify-content-center">
            <h1>Mon profil</h1>
        </div>
    <div class="container-fluid">
    <table class="table table-hover">
        <tbody>
            <tr >
                <th class="table-primary">Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th class="table-primary">FirstName</th>
                <td>{{ user.profil.firstName }}</td>
            </tr>
            <tr>
                <th class="table-primary">LastName</th>
                <td>{{ user.profil.lastName }}</td>
            </tr>
{#            <tr>#}
{#                <th class="table-primary">Photo</th>#}
{#                <td>{{ user.photo }}</td>#}
{#            </tr>#}
            <tr>
                <th class="table-primary">Description1</th>
                <td>{{ user.profil.description1 }}</td>
            </tr>
            <tr>
                <th class="table-primary">Description2</th>
                <td>{{ user.profil.description2 }}</td>
            </tr>
            <tr>
                <th class="table-primary">Adress</th>
                <td>{{ user.profil.adress }}</td>
            </tr>
            <tr>
                <th class="table-primary">Phone</th>
                <td >{{ user.profil.phone }}</td>
            </tr>
            <tr>
                <th class="table-primary"><i class="fab fa-facebook-square" style="font-size: 1.8em;"></i> Facebook</th>
                <td>{{ user.profil.facebook }}</td>
            </tr>
            <tr>
                <th class="table-primary"><i class="fab fa-linkedin" style="font-size: 1.8em;"></i> LinkedIn</th>
                <td>{{ user.profil.linkedin }}</td>
            </tr>
            <tr>
                <th class="table-primary"><i class="fab fa-github-square" style="font-size: 1.8em;"></i> GitHub</th>
                <td>{{ user.profil.github }}</td>
            </tr>
            <tr>
                <th class="table-primary"><i class="fab fa-twitter-square" style="font-size: 1.8em;"></i> Twitter</th>
                <td></td>
            </tr>
            <tr>
                <th class="table-primary"><i class="fab fa-instagram-square" style="font-size: 1.8em;"></i> Instagram</th>
                <td></td>
            </tr>

        </tbody>
    </table>


    <a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>

    {{ include('user/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
